Bonus_UptimeMonitor_[Lakshya Darji].json
{
  "name": "Bonus_UptimeMonitor_[Lakshya Darji]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "635753ae-1596-4ee3-adad-3025d14c5749",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://demo.realworld.show",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "a5221284-90de-4c37-8fc8-b71f4aa538a4",
      "name": "Ping Conduit App",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst statusCode = item.json.statusCode ?? 200;\nconst responseTime = item.json.$response?.responseTime ?? 0;\n\nreturn [{\n  json: {\n    statusCode: statusCode,\n    isDown: statusCode !== 200,\n    responseTime: responseTime,\n    checkedAt: new Date().toISOString(),\n    url: \"https://demo.realworld.show\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1e266d1a-ee15-471e-98f9-8a5ef32030f1",
      "name": "Check Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cbcb8608-5085-49a6-a376-0498e5cbf70c",
              "leftValue": "={{ $json.isDown }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "2bfc1069-bdc2-4170-804a-995f1fb044c9",
      "name": "Site Down?"
    },
    {
      "parameters": {
        "chatId": "1081487330",
        "text": "=🚨 *SITE DOWN ALERT*\n\nURL: {{ $json.url }}\nStatus Code: {{ $json.statusCode }}\nTime: {{ $json.checkedAt }}\n\nThe app is not responding correctly. Please investigate immediately!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -96
      ],
      "id": "519f2574-194c-4834-bc1f-c284ac8f0621",
      "name": "Send Down Alert",
      "webhookId": "41066035-4ea0-40c2-bf7b-c1d93685190a",
      "credentials": {
        "telegramApi": {
          "id": "WHZxvAnCcDxJ6Hu8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        96
      ],
      "id": "199f1246-81ab-43e8-b505-a8eba57f00f5",
      "name": "Site is Up"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ping Conduit App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Conduit App": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Site Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site Down?": {
      "main": [
        [
          {
            "node": "Send Down Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Site is Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2957a81d-c9a4-44d5-af5a-39625dbdb249",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7563369f4ed6aba51a93d0524824b9e231ff950c9b04ebd6ad6b12c21788a108"
  },
  "id": "VgeVA8MlZvfMRHts",
  "tags": []
}